@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  min-height: 100vh;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  color: white;
  /* background-color: #0f171e; */
}

a {
  color: inherit;
  text-decoration: none;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  font: inherit;
}

img,
picture,
svg,
video {
  display: block;
  max-width: 100%;
}

/* Nav Bar */
/* .nav_category_dropdown {
} */

.nav_category_dropdown_subMenu::before {
  border-right: 4.3px solid transparent;
  border-left: 4.3px solid transparent;
  border-top: 4.3px solid #8197a4;
  content: "";
  display: block;
  height: 0;
  position: absolute;
  top: 50%;
  right: -15px;
  width: 0;
  transition: all 0.2s ease-out;
}

.cat_block_popular li:hover {
  border: 3px solid white;
}

.cat_block_2_ul li:hover ~ li {
  color: white;
}

/* .nav_category_dropdown_subMenu:hover ~ .nav_cat_wrapper {
  z-index: 30;
} */

/* .nav_cat_wrapper {
  display: block;
} */

/* Nav Menu */
.nav_profiles_dropdown::before {
  border-right: 4.3px solid transparent;
  border-left: 4.3px solid transparent;
  border-top: 4.3px solid #8197a4;
  content: "";
  display: block;
  height: 0;
  position: absolute;
  top: 50%;
  right: -8px;
  transition: all 0.2s ease-out;
  width: 0;
}

#nav_profiles_dropdown {
  display: none;
}
#nav_profiles_dropdown:checked ~ .nav_profiles_dropdown::before {
  transform: rotate(180deg);
}

#nav_profiles_dropdown:checked ~ .nav_profiles_dropdown::after {
  background-color: rgba(0, 0, 0, 0.6);
  bottom: 0;
  content: "";
  display: block;
  left: 0;
  position: fixed;
  right: 0;
  top: 72px;
  z-index: 2;
}

.nav_bar_ul {
  background: #252e39;
  border-top-left-radius: 0;
  border-radius: 3px;
  box-shadow: 0 4px 8px #000;
  margin: 0;
  max-height: 0;
  width: 400px;
  overflow-x: hidden;
  overflow-y: hidden;
  padding: 0;
  position: absolute;
  top: 150%;
  right: 10px;
  cursor: default; /* Permet de "pointer" uniquement les enfants de ul */
  z-index: 3;
}

#nav_profiles_dropdown:checked ~ .nav_bar_ul {
  max-height: 100vh;
}

.nav_dropl_col_left {
  float: left;
  padding: 4px;
  width: 50%;
  border-left: none;
  border-right: 1px solid #414c53;
}

.nav_dropl_col_right {
  padding: 4px;
  width: 50%;
  border-right: none;
  position: absolute; /*Extending the div to fill ul parent*/
  top: 0;
  right: 0;
  height: 100%;
}

/* Languages */
.nav_profiles_dropdown_lang::before {
  border-right: 4.3px solid transparent;
  border-left: 4.3px solid transparent;
  border-top: 4.3px solid #8197a4;
  content: "";
  display: block;
  height: 0;
  position: absolute;
  top: 50%;
  right: -8px;
  transition: all 0.2s ease-out;
  width: 0;
}

#nav_profiles_dropdown_lang {
  display: none;
}

#nav_profiles_dropdown_lang:checked ~ .nav_profiles_dropdown_lang::before {
  transform: rotate(180deg);
}

#nav_profiles_dropdown_lang:checked ~ .nav_profiles_dropdown_lang::after {
  background-color: rgba(0, 0, 0, 0.6);
  top: 0;
  bottom: 0;
  content: "";
  display: block;
  left: 0;
  position: fixed;
  right: 0;
  z-index: 2;
}
#nav_profiles_dropdown_lang:checked ~ .nav_bar_ul {
  max-height: 60vh;
}

/* Logger */
.nav_profiles_dropdown_logger::before {
  border-right: 4.3px solid transparent;
  border-left: 4.3px solid transparent;
  border-top: 4.3px solid #8197a4;
  content: "";
  display: block;
  height: 0;
  position: absolute;
  top: 50%;
  right: -8px;
  transition: all 0.2s ease-out;
  width: 0;
}

#nav_profiles_dropdown_logger {
  display: none;
}

#nav_profiles_dropdown_logger:checked ~ .nav_profiles_dropdown_logger::before {
  transform: rotate(180deg);
}

#nav_profiles_dropdown_logger:checked ~ .nav_profiles_dropdown_logger::after {
  background-color: rgba(0, 0, 0, 0.6);
  bottom: 0;
  content: "";
  display: block;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 2;
}

#nav_profiles_dropdown_logger:checked ~ .nav_bar_ul {
  max-height: 100vh;
}

/* login page */
/* Sign up asker */
.sign_up_asker::after {
  content: "";
  width: 100%;
  background-color: transparent;
  display: block;
  height: 1px;
  border-top: 1px solid #e7e7e7;
  position: absolute;
  top: 55%;
  z-index: 1;
}

/* Sign in footer */
.sign-in-divider-inner {
  height: 44px;
  background: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0.14),
    rgba(0, 0, 0, 0.03) 3px,
    transparent
  );
}

.sign-in-divider-inner::after {
  display: block;
  content: "";
  width: 100%;
  height: 44px;
  background: linear-gradient(to right, #fff, rgba(255, 255, 255, 0), #fff);
}

/* Register page */
.register_divider {
  height: 44px;
  background: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0.14),
    rgba(0, 0, 0, 0.03) 3px,
    transparent
  );
  margin-bottom: -18px;
}

.register_divider::after {
  display: block;
  content: "";
  width: 100%;
  height: 44px;
  background: linear-gradient(to right, #fff, rgba(255, 255, 255, 0), #fff);
}

/* LandingPage */
.wrapper_2 {
  background-color: #0f171e;
  color: #fff;
  line-height: normal;
  min-height: 65vh;
  overflow: hidden;
}

/* GlobalDisplayer */

/* Collection */
/* .fade-in-out {
  opacity: 1;
  transition: opacity 2s ease-in-out;
} */

.video_overlay_description {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: normal;
}

@media screen and (max-width: 1024px) {
  .video_overlay {
    display: none;
  }
}

/* .coll_left_img_btn {
  background-image: url("/welcome/arrow-left.png");
}

.coll_left_btn::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 45px;
  opacity: 0;
  background: linear-gradient(90deg, rgba(0, 0, 0, 0.4) 0, hsla(0, 0%, 7%, 0));
  transition: opacity 0.4s ease;
  z-index: 0;
}

.coll_left_btn:hover::before,
.coll_right_btn:hover::before {
  opacity: 1;
}

.coll_right_img_btn {
  background-image: url("/welcome/arrow-right.png");
}

.coll_right_btn::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  width: 45px;
  opacity: 0;
  background: linear-gradient(-90deg, rgba(0, 0, 0, 0.4) 0, hsla(0, 0%, 7%, 0));
  transition: opacity 0.4s ease;
  z-index: 0;
} */

/* .coll_banner_list li {
  display: inline-block;
  position: relative;
  max-width: 100%;
} */

/* Effet de hover sur les Card */

/* .styles-module_item-tracker__3bypy {
  transform: none !important; */
/* IMPERATIVEMENT enlever le transform sinon la div en hover ne passe pas par-dessus le carousel en-dessous */
/* } */

.styles-module_sliderBase__swkx1 {
  display: flex;
}

.styles-module_sliderBase__swkx1:hover {
  margin-bottom: -400px !important;
  margin-top: -150px !important;
}

.styles-module_slider__o0fqa {
  display: flex;
}

.styles-module_sliderBase__swkx1:hover .styles-module_slider__o0fqa {
  padding-bottom: 400px !important;
  padding-top: 150px !important;
}

/* Les flèches du Carousel se positionnent sur le slider donc on les met manuellement de part et d'autre de ce slider par un positionnement */
.styles-module_sliderBase__swkx1:hover div[data-arrow] {
  /* z-index: 5; */
  margin-top: 150px;
  /* On change la height du btn car la height de la div change au hover et gagne 400px + 150px de padding */
  height: calc(100% - 550px) !important;
}

.styles-module_sliderBase__swkx1 div[data-arrow] {
  display: inline-block;
  width: 50px !important;
  height: 100% !important;
  position: absolute;
  top: 0 !important;
  cursor: pointer;
  transition: background-color 0.5s ease;
  z-index: 9;
}

.styles-module_sliderBase__swkx1 div[data-arrow]:hover {
  background-color: rgba(15, 23, 30, 0.75);
}

.styles-module_sliderBase__swkx1 div[data-arrow]::before {
  content: "";
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(15, 23, 30, 0.5);
  z-index: 10;
}

.styles-module_sliderBase__swkx1 div[data-arrow="left"] {
  left: 0;
  background: url("/welcome/arrow-left.png") no-repeat center;
}

.styles-module_sliderBase__swkx1 div[data-arrow="right"] {
  right: 0;
  background: url("/welcome/arrow-right.png") no-repeat center;
}

.styles-module_sliderBase__swkx1 div[data-arrow] button {
}

.cont_rev {
  cursor: pointer;
  height: auto;
  margin: 4px;
  transition: transform 0.4s ease;
  z-index: 4;
}

.cont_rev:hover {
  transform: scaleX(1.1) scaleY(1.1);

  z-index: 7;
}

.cont_rev:first-child {
  margin-left: 48px;
}
.cont_rev:last-child {
  /* margin-right: 80px; */
}

.cont_rev .reveal {
  border-radius: 4px;
  display: flex;
  flex-direction: column;
}

.cont_rev:hover .reveal {
  border: 2px solid #00a8e1;
  position: absolute;
}

.reveal .capsule {
  border-radius: 4px;
}
.reveal .desc {
  display: none;
  cursor: pointer;
  width: 100%;
  height: auto;
  border-radius: 4px;
  padding: 16px;
  margin-top: -48px;
}

.cont_rev:hover .desc {
  display: inline-block;
  background: linear-gradient(rgba(27, 37, 48, 0), #1b2530 48px);
  z-index: 8;
}

.cont_rev .desc .card_resume {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  color: #f2f4f6;
  font-size: 12px;
  max-height: 60px;
  overflow: hidden;
  white-space: normal;
}

@media (min-width: 1501px) {
  .cont_rev {
    width: calc(20% - 28px);
  }
  .cont_rev {
    width: calc(20% - 28px);
  }
}

@media (min-width: 1200px) and (max-width: 1500px) {
  .cont_rev {
    width: calc(26% - 28px);
  }
  .double_card {
    width: calc(26% - 28px);
  }
}

@media (min-width: 900px) and (max-width: 1199px) {
  .cont_rev {
    width: calc(33% - 28px);
  }
  .double_card {
    width: calc(33% - 28px);
  }
}

@media (min-width: 768px) and (max-width: 900px) {
  .cont_rev {
    width: calc(40% - 28px);
  }
  .double_card {
    width: calc(40% - 28px);
  }
}

@media (max-width: 767px) {
  .cont_rev {
    width: calc(45% - 28px);
  }
  .double_card {
    width: calc(45% - 28px);
  }
}

/* DOUBLE ROW */
.double_row .styles-module_slider__o0fqa {
  display: flex;
}
.double_card {
  position: relative;
  margin: 4px;
}
.double_card:first-child {
  margin-left: 48px;
}

.double_card .cont_rev:hover {
  top: -10px;
}

/* Sert à garder le cont_rev d'en-bas toujours visible en l'empêchant de remonter au hover du con_rev:first-child */
.double_card .cont_rev:first-child:hover ~ .cont_rev:last-child {
  position: absolute;
  bottom: 0;
  /* display: none; */
}

.double_card .toXr {
  width: auto !important;
  height: auto !important;
  margin: 0 0 8px 0 !important;
  padding: 0 !important;
}

.disNone {
  display: none;
}

/* CATEGORY ROW */
.category__row .cont_rev {
  width: calc(12.5% - 28px);
  min-width: 143px;
  max-width: 292px;
}

.category__row .reveal {
  position: relative;
}

.category__row .cont_rev:hover .reveal {
  position: absolute;
}

/* CHANNEL ROW */
.channel__row .cont_rev {
  width: calc(40% - 28px);
}

.channel__row .reveal {
  position: relative;
}

.channel__row .cont_rev:hover .reveal {
  position: absolute;
}

.channel__row .cont_rev:last-child {
  margin-right: 50px;
}

@media (min-width: 2100px) {
  .channel__row .cont_rev {
    width: calc(21.5% - 28px);
  }
}

@media (min-width: 1800px) and (max-width: 2100px) {
  .channel__row .cont_rev {
    width: calc(24.5% - 28px);
  }
}

@media (min-width: 1501px) and (max-width: 1800px) {
  .channel__row .cont_rev {
    width: calc(28% - 28px);
  }
}

@media (min-width: 1200px) and (max-width: 1500px) {
  .channel__row .cont_rev {
    width: calc(37% - 28px);
  }
}

@media (min-width: 900px) and (max-width: 1199px) {
  .channel__row .cont_rev {
    width: calc(48% - 28px);
  }
}

@media (min-width: 768px) and (max-width: 900px) {
  .channel__row .cont_rev {
    width: calc(70% - 28px);
  }
}

@media (max-width: 767px) {
  .channel__row .cont_rev {
    width: calc(90% - 28px);
  }
}

/* TOP TEN ROW */
.top_ten_row:hover {
}

.top_ten_row.styles-module_sliderBase__swkx1:hover {
  margin-bottom: 0 !important;
  margin-top: 0 !important;
}

.top_ten_row.styles-module_sliderBase__swkx1:hover
  .styles-module_slider__o0fqa {
  padding-bottom: 0 !important;
  padding-top: 0 !important;
}

.top_ten_row.styles-module_sliderBase__swkx1:hover div[data-arrow] {
  margin-top: 0 !important;
  height: 0 !important;
}

.top_ten_row .cont_rev .reveal {
  border-radius: 4px;
  display: flex;
  flex-direction: row;
}

.top_ten_row .cont_rev:hover .reveal {
  border: none;
  position: absolute;
}

.top_ten_row .cont_rev .capsule {
  transition: transform 0.4s ease;
}

.top_ten_row .cont_rev:hover .capsule {
  border: 2px solid #00a8e1;
  border-radius: 4px;
  transform: scaleX(1.1) scaleY(1.1);
}

.top_ten_row .cont_rev:hover {
  transform: none;
}

.degrad_1 {
  background: linear-gradient(90deg, #0f171e 0, rgba(15, 23, 30, 0) 50%);
}
.degrad_2 {
  background: linear-gradient(0deg, #0f171e 0, rgba(15, 23, 30, 0) 40%);
}

.degrad_vid_1 {
  background: linear-gradient(90deg, #0f171e 0, rgba(15, 23, 30, 0) 40%);
}

.degrad_vid_2 {
  background: linear-gradient(0deg, #0f171e 0, rgba(15, 23, 30, 0) 40%);
}
