@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  min-height: 100vh;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  color: white;
  /* background-color: #0f171e; */
}

a {
  color: inherit;
  text-decoration: none;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  font: inherit;
}

img,
picture,
svg,
video {
  display: block;
  max-width: 100%;
}

/* Nav Bar */
/* .nav_category_dropdown {
} */

.nav_category_dropdown_subMenu::before {
  border-right: 4.3px solid transparent;
  border-left: 4.3px solid transparent;
  border-top: 4.3px solid #8197a4;
  content: "";
  display: block;
  height: 0;
  position: absolute;
  top: 50%;
  right: -15px;
  width: 0;
  transition: all 0.2s ease-out;
}

.cat_block_popular li:hover {
  border: 3px solid white;
}

.cat_block_2_ul li:hover ~ li {
  color: white;
}

/* .nav_category_dropdown_subMenu:hover ~ .nav_cat_wrapper {
  z-index: 30;
} */

/* .nav_cat_wrapper {
  display: block;
} */

/* Nav Menu */
.nav_profiles_dropdown::before {
  border-right: 4.3px solid transparent;
  border-left: 4.3px solid transparent;
  border-top: 4.3px solid #8197a4;
  content: "";
  display: block;
  height: 0;
  position: absolute;
  top: 50%;
  right: -8px;
  transition: all 0.2s ease-out;
  width: 0;
}

#nav_profiles_dropdown {
  display: none;
}
#nav_profiles_dropdown:checked ~ .nav_profiles_dropdown::before {
  transform: rotate(180deg);
}

#nav_profiles_dropdown:checked ~ .nav_profiles_dropdown::after {
  background-color: rgba(0, 0, 0, 0.6);
  bottom: 0;
  content: "";
  display: block;
  left: 0;
  position: fixed;
  right: 0;
  top: 72px;
  z-index: 2;
}

.nav_bar_ul {
  background: #252e39;
  border-top-left-radius: 0;
  border-radius: 3px;
  box-shadow: 0 4px 8px #000;
  margin: 0;
  max-height: 0;
  width: 400px;
  overflow-x: hidden;
  overflow-y: hidden;
  padding: 0;
  position: absolute;
  top: 150%;
  right: 10px;
  cursor: default; /* Permet de "pointer" uniquement les enfants de ul */
  z-index: 3;
}

#nav_profiles_dropdown:checked ~ .nav_bar_ul {
  max-height: 100vh;
}

.nav_dropl_col_left {
  float: left;
  padding: 4px;
  width: 50%;
  border-left: none;
  border-right: 1px solid #414c53;
}

.nav_dropl_col_right {
  padding: 4px;
  width: 50%;
  border-right: none;
  position: absolute; /*Extending the div to fill ul parent*/
  top: 0;
  right: 0;
  height: 100%;
}

/* Languages */
.nav_profiles_dropdown_lang::before {
  border-right: 4.3px solid transparent;
  border-left: 4.3px solid transparent;
  border-top: 4.3px solid #8197a4;
  content: "";
  display: block;
  height: 0;
  position: absolute;
  top: 50%;
  right: -8px;
  transition: all 0.2s ease-out;
  width: 0;
}

#nav_profiles_dropdown_lang {
  display: none;
}

#nav_profiles_dropdown_lang:checked ~ .nav_profiles_dropdown_lang::before {
  transform: rotate(180deg);
}

#nav_profiles_dropdown_lang:checked ~ .nav_profiles_dropdown_lang::after {
  background-color: rgba(0, 0, 0, 0.6);
  top: 0;
  bottom: 0;
  content: "";
  display: block;
  left: 0;
  position: fixed;
  right: 0;
  z-index: 2;
}
#nav_profiles_dropdown_lang:checked ~ .nav_bar_ul {
  max-height: 60vh;
}

/* Logger */
.nav_profiles_dropdown_logger::before {
  border-right: 4.3px solid transparent;
  border-left: 4.3px solid transparent;
  border-top: 4.3px solid #8197a4;
  content: "";
  display: block;
  height: 0;
  position: absolute;
  top: 50%;
  right: -8px;
  transition: all 0.2s ease-out;
  width: 0;
}

#nav_profiles_dropdown_logger {
  display: none;
}

#nav_profiles_dropdown_logger:checked ~ .nav_profiles_dropdown_logger::before {
  transform: rotate(180deg);
}

#nav_profiles_dropdown_logger:checked ~ .nav_profiles_dropdown_logger::after {
  background-color: rgba(0, 0, 0, 0.6);
  bottom: 0;
  content: "";
  display: block;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 2;
}

#nav_profiles_dropdown_logger:checked ~ .nav_bar_ul {
  max-height: 100vh;
}

/* login page */
/* Sign up asker */
.sign_up_asker::after {
  content: "";
  width: 100%;
  background-color: transparent;
  display: block;
  height: 1px;
  border-top: 1px solid #e7e7e7;
  position: absolute;
  top: 55%;
  z-index: 1;
}

/* Sign in footer */
.sign-in-divider-inner {
  height: 44px;
  background: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0.14),
    rgba(0, 0, 0, 0.03) 3px,
    transparent
  );
}

.sign-in-divider-inner::after {
  display: block;
  content: "";
  width: 100%;
  height: 44px;
  background: linear-gradient(to right, #fff, rgba(255, 255, 255, 0), #fff);
}

/* Register page */
.register_divider {
  height: 44px;
  background: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0.14),
    rgba(0, 0, 0, 0.03) 3px,
    transparent
  );
  margin-bottom: -18px;
}

.register_divider::after {
  display: block;
  content: "";
  width: 100%;
  height: 44px;
  background: linear-gradient(to right, #fff, rgba(255, 255, 255, 0), #fff);
}

/* LandingPage */
.wrapper_2 {
  background-color: #0f171e;
  color: #fff;
  line-height: normal;
  min-height: 65vh;
  overflow: hidden;
}

/* GlobalDisplayer */

/* Collection */
/* .coll_left_img_btn {
  background-image: url("/welcome/arrow-left.png");
}

.coll_left_btn::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 45px;
  opacity: 0;
  background: linear-gradient(90deg, rgba(0, 0, 0, 0.4) 0, hsla(0, 0%, 7%, 0));
  transition: opacity 0.4s ease;
  z-index: 0;
}

.coll_left_btn:hover::before,
.coll_right_btn:hover::before {
  opacity: 1;
}

.coll_right_img_btn {
  background-image: url("/welcome/arrow-right.png");
}

.coll_right_btn::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  width: 45px;
  opacity: 0;
  background: linear-gradient(-90deg, rgba(0, 0, 0, 0.4) 0, hsla(0, 0%, 7%, 0));
  transition: opacity 0.4s ease;
  z-index: 0;
} */

/* .coll_banner_list li {
  display: inline-block;
  position: relative;
  max-width: 100%;
} */

.card_carousel_container .slide {
  /* display: inline-block;
  position: relative;
  list-style: none;
  min-width: calc(25% - 23px) !important;
  padding-right: 8px;
  margin-bottom: 18px; */
}
.card_carousel_container .slide:first-child {
  /* margin-left: 50px; */
}

/* Effet de hover sur les Card */

.coll_left_img_btn {
  background-image: url("/welcome/arrow-left.png");
}

.coll_left_btn::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 45px;
  opacity: 0;
  background: linear-gradient(90deg, rgba(0, 0, 0, 0.4) 0, hsla(0, 0%, 7%, 0));
  transition: opacity 0.4s ease;
  z-index: 0;
}

.coll_left_btn:hover::before,
.coll_right_btn:hover::before {
  opacity: 1;
}

.coll_right_img_btn {
  background-image: url("/welcome/arrow-right.png");
}

.coll_right_btn::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  width: 45px;
  opacity: 0;
  background: linear-gradient(-90deg, rgba(0, 0, 0, 0.4) 0, hsla(0, 0%, 7%, 0));
  transition: opacity 0.4s ease;
  z-index: 0;
}

.styles-module_item-provider__YgMwz {
  /* overflow-x: scroll; */
}

.card_carousel_container {
  /* overflow-x: scroll !important; */
}
.styles-module_item-provider__YgMwz {
  /* overflow-y: hidden; */
  overflow-x: scroll !important;
}

.styles-module_item-provider__YgMwz:hover {
  /* margin-bottom: -400px !important;
  margin-top: -150px !important; */
  margin-bottom: -200px !important;
  /* margin-top: -75px !important; */
  /* overflow-x: scroll; */
}
.styles-module_item-provider__YgMwz::-webkit-scrollbar {
  display: none;
}

.styles-module_item-tracker__3bypy {
  /* IMPERATIVEMENT enlever le transform sinon la div en hover ne passe pas par-dessus le carousel en-dessous */
  transform: none !important;
  /* overflow-x: scroll; */
}

.styles-module_item-tracker__3bypy:hover {
  /* padding-bottom: 400px !important;
  padding-top: 150px !important; */
  padding-bottom: 200px !important;
  /* padding-top: 75px !important; */
  /* overflow-x: scroll; */
}

.styles-module_item-container__a8zaY {
  position: relative;
  width: 353px !important;
  margin-right: 10px;
  /* overflow-x: scroll; */
}

.styles-module_item-container__a8zaY:first-child {
  margin-left: 50px;
}

.styles-module_item-container__a8zaY:hover {
  /* width: 107% !important; */
}

.styles-module_item-container__a8zaY:hover .cont_rev {
  /* position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; */
}

.reveal {
  position: relative;
}

.cont_rev {
  position: relative;
}

.cont_rev:hover {
  scale: 1.2;
  z-index: 40;
}

.cont_rev .desc {
  /* position: relative; */
  display: none;
}

.cont_rev:hover .desc {
  display: block;
  position: absolute;
  top: 132px;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(rgba(27, 37, 48, 0), #1b2530 48px);
  visibility: visible;
  z-index: 65;
}
